In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [5]:
# Read in data
dta = pd.read_csv("./data/y1314_df.csv")
dta = dta.drop(['mean', 'latitude', 'longitude'], axis = 1)
dta.head()

   school_id  intervention
0     104408             0
1     104409             0
2     104410             0
3     104411             1
4     104412             0

In [7]:
# Static
static = pd.read_csv("./data/Preds.csv")
static.head()

   school_id  prob_fail  prob_pass
0     300897  35.869400  64.130600
1     107371  70.903023  29.096975
2     305290  70.519974  29.480024
3     105374  51.682751  48.317249
4     106480  36.727261  63.272739

In [8]:
static['class_pred'] = 9
static['class_pred'][static['prob_pass'] >= 50] = 0
static['class_pred'][static['prob_pass'] < 50] = 1
static = pd.merge(static, dta, on = 'school_id')

static['correct'] = 0
static["correct"][(static['intervention'] == 0) & (static["class_pred"] == 0)] = 1
static["correct"][(static['intervention'] == 1) & (static["class_pred"] == 1)] = 1

print(sum(static['correct']) / len(static))

0.68

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy